.main-content {
	align-items: center;
	text-align: center;
	
	margin-left: 10%;
	margin-right: 10%;

	.title {
		
		font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

		p {
			font-size: small;
		}
	}

	/* AppareilsPhoto.css */
	.card {
		margin-bottom: 20px;
		margin-top : 50px;
	}

	.card-image img {
		height: 200px;
		object-fit: cover;
	}

	.card-content {
		min-height: 120px; /* Hauteur minimale pour le contenu de la carte */
	}

	.card-action {
		a {
			background-color: rgb(0, 175, 240);
		}
		button {
			background-color: rgb(0, 175, 240);
			margin-top: 10px;
		}
	}

}