.slider-images {
	margin-top : 50px;
    height: 500px; /* Hauteur du conteneur (ajustez selon vos besoins) */
    overflow: hidden; /* Masquer le contenu débordant */
    position: relative; /* Position relative pour positionner l'image de manière absolue */
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 5%;
	
	img {
		width: 100%; /* Largeur de l'image (remplira le conteneur horizontalement) */
    	height: 100%; /* Hauteur de l'image (remplira le conteneur verticalement) */
    	object-fit: cover; /* Zoom et coupe l'image pour remplir le conteneur */
    	object-position: center; /* Positionne l'image centrée dans le conteneur */
	}

}

.products-container { 
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Deux colonnes égales */
    gap: 8%; /* Espacement entre les éléments */
	margin-left : 8%;
	margin-right : 8%;

	.product-item {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-decoration: none;
		color: white;
		list-style: none;

		.product-image {
			width: 100%; /* Largeur maximale de l'image */
			height: auto; /* Hauteur ajustée automatiquement */
			max-height: 400px; /* Hauteur maximale de l'image */
			object-fit: cover; /* Zoom et coupe l'image pour remplir le conteneur */
			object-position: center; /* Positionne l'image centrée dans le conteneur */
		}
		
		h4 {
			font-size: 20px;
			margin-top: 10px; /* Espacement supérieur pour le nom du produit */
			text-align: center; /* Centrage du texte */
			font-weight: bold; /* Texte en gras */
		}
	}
	p {
		margin-top: 0px; /* Espacement supérieur pour la description du produit */
		text-align: center; /* Centrage du texte */
		padding: 10px;
		color: white;
	}
}


