.main-content {
	align-items: center;
	text-align: center;
	margin-left: 10%;
	margin-right: 10%;

	.title {
		color: white;
		text-shadow: 2px 2px 4px #000000;
	}

	.card {
		margin-bottom: 20px;
		margin-top : 50px;
	}

	.card-image img {
		height: 200px;
		object-fit: cover;
	}

	.card-content {
		min-height: 120px; /* Hauteur minimale pour le contenu de la carte */
	}

	.card-action {
		a {
			background-color: rgb(0, 175, 240);
		}
		button {
			background-color: rgb(0, 175, 240);
			margin-top: 10px;
		}
	}

}

.description{
	margin-top : 20px;
	text-align: center;
	color : rgb(21, 21, 21);
	background-color: rgba(155, 208, 255, 0.6);
	padding: 15px; /* Adjust padding as needed */
    border-radius: 20px; /* Optional: adds rounded corners to the box */
}
